aiohttp
pyrofork
python-dotenv
pytz
requests
tgcrypto
motor==3.1.1
bs4
datetime
pymongo==4.4.1
dnspython==2.3.0
marshmallow==3.20.1
umongo==3.1.0
openai

#---ytdl----#
ffmpeg
aiofiles
wget
youtube_search
youtube-search-python==1.4.6
yt-dlp
youtube-dl
yt-dlp==2023.2.17

#---imdb---#
cinemagoer==2023.5.1

#---others----#
opencv-python-headless==4.7.0.68
googletrans==3.1.0a0
telegraph==2.2.0
python-dotenv==0.21.1
gTTS==2.3.1
Pillow==10.2.0
psutil==5.9.4
NumPy
wheel
ujson
wget
pytz
aiofiles
